server:
  port: ${PORT}

springdoc:
  api-docs:
    path: /api-docs

spring:
  jpa:
    hibernate:
      ddl-auto: update
    database-platform: org.hibernate.dialect.PostgreSQLDialect
  datasource:
    url: ${JDBC_DATABASE_URL}
    username: ${JDBC_DATABASE_USERNAME}
    password: ${JDBC_DATABASE_PASSWORD}

management:
  endpoints:
    web:
      exposure:
        include: health
      cors:
        allowed-origins: "*"
        allowed-methods: "*"
        allowed-headers: "*"
    health:
      show-details: always

security:
  admin_login:  ${ADMIN_LOGIN}
  admin_password:  ${ADMIN_PASSWORD}
