server:
  port: ${PORT}

springdoc:
  api-docs:
    path: /api-docs

spring:
  jpa:
    hibernate:
      ddl-auto: update
    database-platform: org.hibernate.dialect.PostgreSQLDialect
  datasource:
    url: ${JDBC_DATABASE_URL}
    username: ${JDBC_DATABASE_USERNAME}
    password: ${JDBC_DATABASE_PASSWORD}

management:
  endpoints:
    web:
      exposure:
        include: prometheus,health,info,metrics
    health:
      show-details: always
